<div class="loading" *ngIf="!posts">
    <br><br>
    Loading....<br>
    잠시만 기다려주세요.
</div>
<div class="container-fluid" id="timeline-container" *ngIf="posts">


    <div class="row" *ngIf="!search_word">

        <div class="col-xl-2"></div>
        <div class="col-xl-8">
        <nav class="navbar navbar-expand-lg navbar-light" >
                <button  *ngIf="isCategory" class="nav-link"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span>카테고리</span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li *ngIf="isAdmin" class="nav-item">
                        <button style="color:#fed136;" (click)="write(content)"class="nav-link "><i class="fas fa-pencil-alt"></i> 글 작성 하기</button> 
                    </li>
                    <li class="nav-item active">
                        <button style="color:#fed136;" class="nav-link active" (click)="getList(0)">전체 보기</button>
                    </li>
                    <li class="nav-item ">
                        <button style="color:#fed136;"class="nav-link " (click)="getList(1)">진로</button>
                    </li>
                    <li class="nav-item ">
                        <button style="color:#fed136;"class="nav-link " (click)="getList(2)">스터디&모임</button>
                    </li>
                    <li class="nav-item ">
                        <button style="color:#fed136;"class="nav-link " (click)="getList(3)">알바&구인</button>
                    </li>
                    <li class="nav-item ">
                        <button style="color:#fed136;"class="nav-link " (click)="getList(4)">행사&대외활동</button>
                    </li>
                    <li *ngIf="isAdmin" class="nav-item">
                        <button style="color:#fed136;" (click)="write(advertise)"class="nav-link "><i class="fas fa-pencil-alt"></i> 광고 작성 하기</button> 
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
        </div>
        <div class="col-xl-2"></div>
    <div class="row">
    <div class="col-xl-2"></div>

    <div class="main container col-xl-8">
        <div class="admin_post" *ngIf="!search_word">
            <p class="admin_title">{{admin_post.title}}</p>
            <p class="time">{{admin_post.date}}</p>
            <div class="admin_content ellipsis-all">
                {{admin_post.post}}
                <button *ngIf="!isFull" class="more" (click)='fullPost()'>...더 보기</button>
                <button *ngIf="isFull" class="more" (click)='fullPost()'>접기</button>
            </div>
        </div>
        <p class="search_result_p" *ngIf="search_word">
                <strong>'{{search_word}}'</strong>로 검색한 결과입니다.
        </p>


    <div *ngFor="let post of small_posts; index as i" class="post">
        <a *ngIf="post.url" href="{{post.url}}" class="link-btn" >
            <div class="block" *ngIf="post.title">
                <a href="{{post.url}}" class="title">{{post.title}}</a>
            </div>

            <span class="time" *ngIf="!post.adv">{{post.date}}</span>
            <p class="content" *ngIf="post.post || post.contents ">{{post.post}}</p>
            <img *ngIf="post.adv" src="{{post.img}}"/>
        </a>
        <a *ngIf="!post.url"class="link-btn" >
                <div class="block" *ngIf="post.title">
                    <a href="{{post.url}}" class="title">{{post.title}}</a>
                </div>
    
                <span class="time" *ngIf="!post.adv">{{post.date}}</span>
                <p class="content" *ngIf="post.post || post.contents ">{{post.post}}</p>
                <img *ngIf="post.adv" src="{{post.img}}"/>
            </a>
        <a *ngIf="!post.admin&&!post.adv" id="{{i}}" (click)="favorite(i)" class="like-btn-div">
            <span *ngIf="!isFavorite[i]" class="like-btn">☆</span>
            <span *ngIf="isFavorite[i]" class="like-btn">★</span>
            <span class="like-num">{{post.fav_cnt}}</span></a>
        <a *ngIf="!post.admin&&!post.adv" (click)="copyMessage(post.url)" placement="top"
                ngbPopover="복사되었습니다." popoverTitle="알림" class="url-copy-btn" ><i class="far fa-copy url-copy-btn"></i></a>
        <div *ngFor="let tag of post.tag; index as k" class="popover_div">
            <div *ngIf="!post.admin&&!post.adv" class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="tag" ngbDropdownToggle>{{tag}}</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button *ngIf="is_auth" (click)="addFavTag(i, k)" class="dropdown-item boder-bottom">자주 볼래요!</button>
                    <button *ngIf="is_auth" (click)="addBlackTag(i, k)" class="dropdown-item boder-bottom center-button">안 볼래요...</button>
                    <button (click)="search_tag(tag)" class="dropdown-item">태그로 검색</button>
                </div>
              </div>
        </div>
        <button class="remove-btn float-right" *ngIf="isAdmin" (click)="removePost(i)">제거</button>
    </div>
</div>
<div class="col-xl-2 col-0">
        <div class="navbar navbar-expand-xl">
                <div class="collapse navbar-collapse right-banner">
                        <span class="pookle-font">PooKle</span>
                    </div>
        </div>

    </div>
</div>
</div>



<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">글쓰기</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="writeForm" (ngSubmit)="send()">
        <div class="modal-body">
            <div class="title-div">제목 <input id="title" formControlName="title" class="title-area"></div>
            <textarea id="contents" formControlName="contents" class="write-area" placeholder="내용을 입력해주세요"></textarea>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">올리기</button>
        </div>
      </form>
      </ng-template>

      
      <ng-template #advertise let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">글쓰기</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="advertiseForm" (ngSubmit)="adv_send(fileInput.files)"enctype = "multipart/form-data">
        <div class="modal-body">
            <div class="title-div">제목 <input id="title" formControlName="title" class="title-area"></div>
            <div class="title-div">링크 <input id="title" formControlName="url" class="title-area"></div>
            <textarea id="contents" formControlName="contents" class="write-area" placeholder="내용을 입력해주세요"></textarea>
            <div class="title-div">이미지 &nbsp;&nbsp;&nbsp;&nbsp;<input name="file" type="file" formControlName="img" name="FileName" #fileInput></div>
            <div class="title_div">만료기간 <input type="date"  formControlName="date"></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">올리기</button>
        </div>
      </form>
      </ng-template>
